html {
  scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	z-index: 0;
	box-sizing: border-box;
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: wheat;
	font-family: 'Poppins', sans-serif;
	z-index: 9999;
}

.logo {
	color: #d58512;
	letter-spacing: 5px;
	font-size: 20px;
}

.logo:hover {
	cursor: pointer;
}

.nav_opt {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.nav_opt li {
	list-style: none;
	text-align: center;
}

.nav_opt a {
	color: #122b40;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.menu_drawer {
	display: none;
	cursor: pointer;
}

.menu_drawer div {
	width: 25px;
	height: 3px;
	background-color: #122b40;
	margin: 5px;
}

@media screen and (max-width: 1024px) {
	.nav_opt {
		width: 70%;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow: hidden;
	}
	.nav_opt {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: wheat;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.4s ease-in;
	}
	.nav_opt li {
		opacity: 0;
	}
	.menu_drawer {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes menuItemFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes carouselItemFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .menuButton1 {
	transform: rotate(90deg) translate(8px,-10px);
}
.toggle .menuButton2 {
	transform: rotate(90deg) translate(0px,0px);
}
.toggle .menuButton3 {
	transform: rotate(90deg) translate(-8px,10px);
}

/*carousel*/

body {
	background-color: rgba(220, 213, 213,0.5);
	font-family: sans-serif;
	overflow: scroll;
}

.slider {
	max-width: 500px;
	border: 10px solid #29a9e2;
	margin: 60px auto;
	position: relative;

}

.slider .left-slide, .slider .right-slide {
	position: absolute;
	height: 40px;
	width: 40px;
	background-color: #444444;
	border-radius: 50%;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
	top: 50%;
	margin-top: -20px;
	text-align: center;
	line-height: 40px;
}

.slider .left-slide:hover, .slider .right-slide:hover {
	box-shadow: 0px 0px 10px black;
	background-color: #29a9e2;
}

.slider .left-slide {
	left: 30px;
}

.slider .right-slide {
	right: 30px;

}

.slider .slider-items .item img {
	max-width: 100%;
	display: block;
}

.slider .slider-items .item {
	display: none;
	position: relative;
}

.slider .slider-items .item .caption {
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	position:absolute;
	width: 100%;
	height: 60px;
	bottom: 0px;
	left: 0px;
	color: #ffffff;
	font-size: 30px;
	line-height: 60px;
	display: none;
}

.slider .slider-items .item.active {
	display: block;
}

/* jumbotron */

.tooltip_message span {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: antiquewhite;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-family: "Lucida Sans Unicode";
	position: absolute;
	z-index: 0;
}

.tooltip_message:hover span {
	visibility: visible;
}

#jmb {
	margin-top: 8rem;
}
.work_h, .intro_h, .educ_h, .skills_h {
	font-size: 4rem;
	font-weight: 300;
	font-family: "Lucida Sans Unicode";
	padding-bottom: 2rem;
	margin-top: -1.5rem;
}

.work_list, .educ_list, .skills_list{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.work_ul, .educ_ul {
	list-style-type: none;
}

.work_ul li, .educ_ul li{
	padding-top: 2rem;
	margin-left: -1rem;
}

.work_ul p .address, .educ_ul p .address {
	font-size: 1.7rem;
}

.work_ul p .duration, .educ_ul p .duration {
	color: dodgerblue;
}

.skills_container {
	box-sizing: border-box;
	border-radius: 1vw;
	width: 100%;
	background-color: gray;
}

.container_skills {
	width: 60%;
	margin:auto;
	text-align: left;
	border-radius: 1vw;
}

.skills_container {
	box-sizing: border-box;
	border-radius: 1vw;
	width: 100%;
	background-color: gray;
}

.skills {
	text-align: right;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.java_se {
	width: 80%;
	background-color: green;
}

.rest, .mvc, .hibernate, .jpa, .mysql, .cpp, .cs {
	width: 70%;
	background-color: green;
}

.git, .postman, .html_css {
	width: 60%;
	background-color: green;
}

.js {
	width: 50%;
	background-color: green;
}

.json {
	width: 50%;
	background-color: green;
}

.skills_table {
	width: 100%;
}

.skills_table td {
	padding: 1rem;
}

.skills {
	border-radius: 1vw;
}


/* contact info*/

.footer {
	color: black;
	height: 200px;
	position: relative;
}

.footer .footer-content { 
	display: flex;
}

.footer .footer-content .footer-section {
	flex: 1;
	text-align: left;
	padding-top: 10px;
}

.contact h4 {
	padding-left: 2rem;
}

.contact .fa {
	padding-left: 2rem;
}

.footer .footer-content .footer-section .footer-section-top .logo-items {
	display: flex;
	list-style: none;
	text-align: center;	
	padding: 10px;	
}

.logo-items img {
	background-color:wheat;
	border-radius: 3.5rem;
}


.socials {
	list-style: none;
	display: flex;
	font-size: 40px;	
	
	margin-left: 10px;
}
.socials li {
	padding: 10px;
}
#contact_info_id, #contact_info {
	background-color: #58595b;
}

#contact_info {
	color:wheat;
}
.fa .fa-facebook, .fa .fa-instagram {
	font-size: 100px;
	padding: 20px;
}

.footer .footer-content .footer-section img {
	height: 7rem;
}

#men1 {
	z-index: 99999;
}
